@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is where you're going to get motivation to do stuff when you're lazy as heck</a>.</p>
</div>
